<main>
    <h1>hola products</h1>
    {{#each products}}
        <div class="productsContainer">
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{thumbnail}}</p>
            <p>{{code}}</p>
            <p>{{stock}}</p>
        </div>
    {{/each}}
</main>
