<main>
    <h1>Producto por ID</h1>
    {{#each product}}
        <div>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{thumbnail}}</p>
            <p>{{code}}</p>
            <p>{{stock}}</p>
        </div>
    {{/each}}
</main>